* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    justify-content: flex-start;
    background: #13293d;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #dca877;
    justify-content: flex-end;
    color: #fff;
  }
  
  nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 200%;
    color: rgb(74, 49, 185);
  }


  .section {
    display: flex;
    align-content: flex-start;
    width: 90%;
    margin: 5%;
    padding: 1%;
  }

  .section-title {
    display: flex;
    align-content: left;
  }

  .section-details {
    margin-left: 3%;
    flex: 0 0 80%;
  }

  #ul-contact-links li{
    display: inline;
    margin: 3%;
  }

  .card {
    flex: 1 1 0px;
    padding: 10px;
    float:left;
    width: 50%;
    text-align: center;
  }

  .wavescard {
    flex: 2 1 0px;
    padding: 10px;
    float:left;
    width: 100%;
    text-align: center;
  }

  .wavescard:hover {
    opacity: 0.5;
  }

  .card:hover {
    opacity: 0.5;
  }

  h3 {
    font-size: 120%;
    padding: 10px;
    color: #ffffff;
    background-color: #0e0d0d;
    border-top-left-radius:3%;
    border-top-right-radius: 3%;
  }

  .card img {
    max-width: 100%;
    min-width: 100px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  .wavescard img {
    width: 100%;
    min-width: 200px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  .headshot {
    display: inline-block;
    max-width: 25%;
    min-width: 50px;
    border-radius: 3%;
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%
    }

    #ul-contact-links li {
      display: block;
    } }