* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    justify-content: flex-start;
    background: #13293d;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #dca877;
    justify-content: flex-end;
    color: #fff;
  }
  
  nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 200%;
    color: rgb(74, 49, 185);
  }

  .section {
    display: flex;
    align-content: flex-start;
    width: 90%;
    margin: 5%;
    padding: 3%;
  }

  .section-title {
    display: flex;
    align-content: left;
    border-right: #13293d;
    border-width: 3px;
  }

  .section-details {
    margin-left: 3%;
    flex: 0 0 80%;
  }

  #ul-contact-links li{
    display:inline;
    margin: 3%;
  }